html,
body {
	height: 100%;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	background-color: hsl(0, 0%, 95%);
	display: flex;
	flex-direction: column;
}
header {
	background-color: white;
}

main {
	flex-basis: 100%;
}

main > button#addBtn,
main > button#addExampleBtn {
	font-size: 125%;
}

main > #grid > .bookCard {
	background-color: lightseagreen;
	padding: 1rem;
	margin: 1rem 0;
	transition: 1s ease;
}

main > #bookModal {
	background-color: red;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	display: none;
}
main > #bookModal > #bookForm {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

main > #bookModal > #bookForm > .status {
	display: flex;
}

main > #bookModal.show {
	display: flex;
}

footer {
	background-color: hsl(0, 0%, 90%);
}

header,
main,
footer {
	padding: 1rem;
}
