:root {
	--bcg: hsl(0, 0%, 95%);
	--grey85: hsl(0, 0%, 85%);
	--lightblue: #7dd3fc;
	--lightgreen: #86efac;
	--lightyellow: #fde047;
	--lightred: #fca5a5;
	--blue: #38bdf8;
	--green: #4ade80;
	--yellow: #facc15;
	--border: 8px;
	--shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
	--fast: 0.2s;
	--slow: 0.4s;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	background-color: var(--bcg);
	display: flex;
	flex-direction: column;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

header {
	background-color: white;
	box-shadow: var(--shadow);
}

header .container {
	padding: 0 1rem;
}

header h1 {
	font-size: 250%;
	font-weight: 700;
}

main {
	flex-basis: 100%;
}

main .container {
	padding: 1rem;
}

.addButtons {
	display: flex;
	justify-content: center;
	padding: 1rem 0;
	gap: 1rem;
}

button {
	color: black;
	border: none;
	border-radius: var(--border);
	transition: background-color var(--slow) ease;
	padding: 1rem;
	font-weight: 600;
}

button:hover {
	cursor: pointer;
}

#addBtn,
#addExampleBtn {
	font-size: 125%;
	background-color: var(--grey85);
}

#addBtn:hover,
#addExampleBtn:hover {
	background-color: var(--lightblue);
}

#grid {
	display: none;
	padding: 1rem 0;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
}

#grid.show {
	display: grid;
}

.bookCard {
	background-color: white;
	padding: 1rem;
	border-radius: var(--border);
	box-shadow: var(--shadow);

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.bookCard p {
	margin: 0.5rem 0;
	text-align: center;
}

.bookCard p.title {
	font-weight: 600;
}

.bookCard.fadeIn {
	transition: transform var(--fast) ease;
	transform: scale(0);
}

.bookCard.fadeIn.show {
	transform: scale(1);
}

.bookCard.fadeOut {
	transition: transform var(--fast) ease;
	transform: scale(0);
}

.statusBtn,
.removeBtn {
	background-color: var(--bcg);
	width: 100%;
}

.removeBtn:hover {
	background-color: var(--lightred);
}

.statusBtn {
	background-color: var(--lightyellow);
}

.statusBtn:hover {
	background-color: var(--yellow);
}

.read {
	background-color: var(--lightgreen);
}

.read:hover {
	background-color: var(--green);
}

#empty {
	position: absolute;
	opacity: 0;
	z-index: -1;
	transition: opacity var(--slow) ease;
	left: 1rem;
	right: 1rem;
	top: 14rem;
	height: calc(100% - 20rem);
	display: flex;
	font-size: 200%;
	font-weight: 200;
	text-align: center;
	align-items: center;
	max-width: 500px;
	margin: auto;
}

#empty.show {
	opacity: 0.5;
}

#pageOverlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	background-color: hsla(0, 0%, 0%, 0.5);
	transition: opacity var(--slow) ease;
	opacity: 0;
	visibility: hidden;
}

#pageOverlay.show {
	opacity: 1;
	visibility: visible;
}

#modalOverlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	transition: transform var(--slow) ease;
}

#modalOverlay.show {
	transform: scale(1);
}

#bookModal {
	background-color: var(--bcg);
	border-radius: var(--border);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	margin: 1rem;
	width: 100%;
	max-width: 288px;
}

#bookForm {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#bookModal p {
	font-size: 125%;
	font-weight: 600;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0.5rem;
}

#submitBtn {
	background-color: var(--lightblue);
}

#submitBtn:hover {
	background-color: var(--blue);
}

input {
	padding: 1rem;
	border-radius: var(--border);
	border: none;
}

.status {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

input.checkbox {
	width: 1rem;
	height: 1rem;
	accent-color: var(--lightgreen);
	cursor: pointer;
}

input.checkbox:hover {
	accent-color: var(--green);
}

footer {
	display: flex;
	justify-content: center;
}

footer .container {
	padding: 0 1rem;
}

footer p {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 0.875rem;
}

footer p span {
	display: flex;
	align-items: center;
	height: 2.125rem;
	white-space: nowrap;
}

footer p .emoji {
	font-size: 1.625rem;
}

.fa-github {
	color: black;
	opacity: 75%;
	transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
	opacity: 100%;
	transform: rotate(360deg) scale(1.2);
}
